.selectComponent {
  border: none;
  width: 877px;
  height: 54px;
  padding: 16px 32px 16px 16px;
  border-radius: 6px;
  gap: 10px;
  padding: 0;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  padding-left: 15px;
  color: #8d9396;
  display: flex;
  border: 2px solid #ff9f1c5e;
}

.formSelect {
  padding-left: 50px;
}

#label {
  font-family: Inter;
  font-weight: 500;
}
