.todoItemContainer{
    display: flex;
    flex-direction: column;
    gap: 20px
}

.detailsContainer{
    display: flex;
    flex-direction: column;
    padding: 150px;
    padding-top: 70px;
    gap: 20px
}

.todoItemContainer{
    padding: 50px;
}

.btnContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}