.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
}

.btnContainer {
  display: flex;
  gap: 20px;
}

.linksContainer{
    gap: 100px;
    display: flex;
}

#links{
    text-decoration: none;
    color: inherit;
    font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}